footer{
	padding: 100px 0px;
    margin-top: 70px;
    background-color: $gray;
}
.footer-content{
	display: flex;
	justify-content: left;

	.logo{
		img{
			width: 200px;
		}
		
	}

	.copyright{
		font-size: 12px;
		color: $textDark;
		margin-top: 20px;
	}

	&__title{
		font-family: $heading-font;
		font-size: 17px;
	    font-weight: 600;
	    text-transform: uppercase;
	    margin-bottom: 25px;
	}

	&__column{
		padding-right: 50px;
	}

	.cc-info{
		&__contacts{
			&__title{
	    		font-size: 12px;
			}
			&__info{
				font-size: 14px;
			}
		}
		&__whour-title{
	    	font-size: 12px;
		}
		&__whour-info{
			&__info{
				font-size: 14px;
				font-weight: 700;
			}
			&__title{
				font-family: $main-font;
		    	font-size: 12px;
		    	text-transform: none;
		    	font-weight: 500;
			}
		}
	}
	.socials{
		padding: 0;
		.social{
			list-style: none;
			.soc-item{
				display: block;
				margin-bottom: 5px;
				&:hover{
					opacity: 0.7;
				}
			}
			&__icon{
				height: 20px;
				svg{
					height: 20px;
				}
			}
			&__text{
				font-size: 14px;
			    position: relative;
			    bottom: 5px;
			    margin-left: 10px;
			    text-transform: uppercase;
			}
		}
	}
	.footer-menu{
		.nav{
			display: block;
			li{
				display: block;
				a{
					color: $white;
					&:hover{
						color: $main;
					}
				}
			}
		}
	}
	@media only screen and (max-width: $mobile-breakpoint){
		display: block;
		.footer-content{
			&__title{
				margin-top: 40px;
			}
		}
		.whour-content{
			margin-top: 20px;
		}	

	}

}