
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
  transition: background-color 0.1s ease-in-out;
  transition: padding 0.1s ease-in-out;
  padding: 35px 0px;
  .nav{
    text-align: center;
    display: block;
    li{
      display: inline-block;
    }
  }
  .navigation {
    padding: 0;
    background-color: transparent;
    transition: background-color 0.2s ease-out;
    &__top{
      text-align: center;
      position: relative;
      padding: 20px 0px 0px 0px;
    }
  }
  &.header--scrolled{
    padding: 0px 0px;
    .navigation{
      background-color: $black;
    }
    .navbar-brand{
      img{
        height: 40px;
        transform: translateY(-1px);
      }
    }
  }
  .navbar-brand {
  	padding: 0;
    margin-right: 0px;
    display: none;
  }
  .menu{
    text-align: right;
    padding: 23px 0px;
    div{
      display: inline-block;
      width: 100%;
    }
    .menu-item{
      a{
        color: $main;
        opacity: 0.7;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 14px;
        margin: 0px 10px;
        letter-spacing: 0.5px;
        position: relative;
        transition: color 0.1s ease-out;
        &:hover{
          opacity: 1;
        }
      }

        &.current-menu-item{
          a{
            opacity: 1;
          }
        }
    }
  }
  .main-nav-container{
    background-color: transparent;
    width: 100%;
    .container{
      //width: 100%;
      height: 70px;
    }
    .navbar-brand{
      line-height: 70px;
      display: inline-block;
      position: absolute;
      img{
        height: 60px;
        transition: all 0.1s linear;
        transform: translateY( -8px);
      }
    }
    .menu{
      width: 100%;
    }
    .lang_menu{
      position: absolute;
      display: inline-block;
      line-height: 70px;
      top: 0;
      .button{
        display: inline-block;
      }
      .dropdown{
        padding: 0px 10px;
        display: inline-block;
        &-menu{
          position: absolute;
          z-index: 1000;
          float: none;
          min-width: unset;
          padding: 0;
          margin: 0;
          font-size: 14px;
          color: $main;
          text-align: center;
          list-style: none;
          background-color: transparent;
          border-radius: 0;
          transform: translateX(-8px) !important;
          top: 74px !important;
          border: 2px solid $main;
        }
        &-item{
          background-color: transparent;
          opacity: 1;
          cursor: pointer;
          a{
            opacity: 1;
          }
          &:hover{
            background-color: $main;
            a{
              color: $white;
            }
          }
        }
      }
    }
    .hamburger{
      display: none;
      z-index: 200;
      &:focus{
        outline: 0;
      }
    }
  }

  &.header--scrolled{
    .main-nav-container{
  
      .navbar-brand{
        img{
          height: 40px;
          transform: translateY(-1px);
        }
      
      }
      .menu{

      }
      .lang_menu{
        
      }
    }
  }

}
.admin-bar{

  header{
      top: 32px !important;
  }

}
.lang_menu{
    position: absolute;
    right: 20px;
    .lang-item{
      list-style: none;
      display: inline-block;
      opacity: 0.5;
      transition: all 0.1s ease-in-out;
      &.current-lang{
        opacity: 1;
      }
      &:hover{
        opacity: 1;
      }
      a{
        display: block;
        font-size: 14px;
        color: $main;
        font-weight: 600;
        img{
          border-radius: 100%;
          width: 25px;
          height: 25px;
          border:2px solid #fff;
        }
      }
    }
}
@media only screen and (max-width: $tablet-breakpoint){
  header{
    .navigation__top{
      display: none;
    }
    .main-nav-container{
      position: fixed;
      top: 0;
      .navbar-brand{
        display: inline-block;
        z-index: 200;
        
      }
      .menu{
        visibility: hidden;
        transition: all 0.2s linear;
        margin-top: -100vh;
        z-index: 100;
        ul{
          li{
            display: block;
            a{
              color: $main !important;
            }
          }
        }
      }
      .lang_menu{
        z-index: 150;
        display: inline-block;
        visibility: hidden;
        margin-top: -100vh;
        transition: all 0.2s linear;
      }
      .menu-overlay{
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 170;
        background-color: $black;
      }
    }
    &.menu-open{
      .main-nav-container{
        .menu{
          visibility: visible;
          margin-top: 0vh;
        }
        .lang_menu{
          visibility: visible;
          margin-top: 0vh;
        }
      }
    }
    

    .main-nav-container{
      width: 100%;
      z-index: 100;
      .container{
        width: 100%;
        max-width: unset;
        height: 64px;
      }
      .navbar-brand{
        line-height: 64px;
        position: absolute;
        img{
          height: 40px;
          transform: translateY( 0px);
        }
      }
      .menu{
        width: 100%;
        position: absolute;
        top: 64px;
        height: 100vh;
        background-color: $black;
        left: 0;
        ul{
          display: block;
          li{
            margin-bottom: 20px;
            a{
              line-height: 40px;
              font-size: 22px;
            }
          }

        }
        div{
          padding-top: 100px;
          width: 100%;
          text-align: center;
        }
      }
      .lang_menu{
        top: 64px;
        width: 100%;
        text-align: center;
        left: 0;
        .dropdown{
          margin-top: 20px;
          button{
            padding: 0;
            font-size: 17px;
            display: none;
          }
          &-menu{
            position: relative;
            display: inline-block;
            top: 0 !important;
            transform: translate(0) !important;
            border: 0;
            width: unset;
            font-size: 0;
          }
          &-item{
            display: inline-block;
            width: unset;
            padding: 0;
          
            a{
              font-size: 18px;
              color: #f7de7ca1;
              &:after{
                display: inline-block;
                width: 2px;
                height: 22px;
                vertical-align: middle;
                content: "";
                border-top: 0;
                border-right: 0;
                border-left: 0;
                position: relative;
                background-color: $main;
                margin: 10px;
                position: relative;
                bottom: 2px;
                opacity: 0.7;
              }

            }
            &.current{
              a{
                color: #f7de7c;
              }
              
            }

            &:last-child{
              a{
                &:after{
                  display: none;
                }
              }
            }
    
          }
        }
      }
      .hamburger{
        display: block;
        position: absolute;
        right: 0px;
        line-height: 28px;
      }
    }
  }
}