.posts{
	margin-top: 40px;

	&__item{
	    position: relative;
    	background-color: #fff;
    	margin-bottom: 22px;
    	transition: box-shadow 0.2s ease-in-out, opacity 0.6s !important;
    	border-radius: 5px;
    	background-color: transparent;
    	padding: 10px;
    	&__image{
    		background-size: cover;
	    	background-position: center;
	    	height: 320px;
	    	    border-radius: 4px 4px 0px 0px;
    	}
	    &__content{
			z-index: 2;
		    position: relative;
		    padding: 10px 10px 10px 20px;
		    background-color: $gray;
		    height: 95px;
		    border-radius: 0px 0px 4px 4px;
			&__category{
				margin: 0;
				font-size: 12px;
    			margin-bottom: 5px;
    			text-transform: uppercase;
    			color: $main;
    			font-weight: 700;
    			margin-top: 5px;
			}
			&__title{
				font-size: 13px;
    			line-height: 19px;
			}
			&__text{
				margin: 0;
				font-size: 14px;
    			line-height: 17px;
			}
			a{
				&:hover{
					opacity: 1 !important;
				}
			}
		}
		&:focus{
			border: 0;
			box-shadow: 0;
		}
	}
}
.post{
	padding-top: 160px;
	.entry-content{
		padding-right: 20px;

	}
}
.post_terms{
	margin-bottom: 30px;
	&__list{
		list-style: none;
		padding: 0;
		&__item{
			display: inline-block;
			margin-right: 5px;
			transition: all 0.2s ease-in-out;
			line-height: 0;
			padding-top: 40px;
			a{
				padding: 8px 15px;
				color: $main;
				font-size: 13px;
				font-weight: 600;
				text-transform: uppercase;
				border:	1px solid $black;
				border-radius: 100px;
			}
			&.active{
				
				a{
					color: $main;
					border:	1px solid $main;
				}
			}
			&:hover{
				
				a{
					color: $main;
					border:	1px solid $main;
					opacity: 1;
				}
			}

		}
	}
}
.post-date{
	margin-bottom: 5px;
    font-size: 13px !important;
    text-align: center;
}
.post-video{
	padding-bottom: 20px;
	iframe{
		width: 100% !important;
		height: 340px;
	}
}
.post-image{
	img{
		width: 100%;
	}
}
.post-title{
	font-size: 36px;
    text-align: center;
}
.related-posts{
	&__nav{
		margin-bottom: 40px;
		margin-top: 70px;
		position: relative;
		h2{
			display: inline-block;
			padding: 0;
		}
		&__controls{
			display: inline-block;
		    position: absolute;
		    right: 0;
		    bottom: 0;
		    svg{
		    	height: 15px;
		    }
		}
	}
	.slick-list{
		padding: 10px 6px;
	}
	
}

.pager{
	margin-top: 20px;
	&__list{
		list-style: none;
		padding: 0;
	}
	&__item{
		display: inline-block;
	}
	.page-numbers{
		color: $main;
		opacity: 0.6;
		font-size: 17px;
		font-weight: 600;
		padding: 10px 10px;
		line-height: 15px;
		transition: all 0.2s linear;
		&.current{
			opacity: 1;
			font-size: 16px;
		}
		&.next, &.prev{
			svg{
				height: 14px;
		    	position: relative;
		    	top: 2px;
			}
		}
		&:hover{
			opacity: 1;
		}
	}
}

